<header>
    <div class="profile">
    </div>
    <div class="second-img container" id ="feature">
        <div class="second-text">
            <h3>introduce</h3>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                <ul>
                    <li><p>ニックネーム：のぶお</p></li>
                    <li><p>大学：鹿児島大学大学院　2年</p></li>
                    <li><p>年齢：23歳</p></li>
                    <li><p>身長：185cm</p></li>
                    <li><p>趣味：グルメ/アプリ開発/動画編集/サッカー/...</p></li>
                    <li><p>Skill：ruby / python / C / js /</p></li>
                    <li><p>フレームワーク ：ruby on rails / tensorflow / Vue.js</p></li>
                    <hr>
                    <li><p> 団体活動 / フットサル全国準優勝 / イベント主催 / など<br>幅広く活動してきました
                    <br>"エネルギー" と "やりきり力"には自信があります</p></li>
                    <a href="https://twitter.com/nobuo_185cm" class =" sns" style="text-align:center;  font-size:30px;"><i class="fa fa-twitter "></i></span></a>
                    <a href="https://github.com/nobuosan" class =" sns" style="text-align:center; padding-left:40px;  font-size:30px;"><i class="fab fa-github"></i><span class="sr-only"></span></a>
                </ul>
            </div>
            <div class ="prof-img col-6 ">
                <%= image_tag "nobu.jpg" ,alt:"none" ,class:"service-img rounded" %>
            </div>
        </div>
    </div>
    <div class ="container">
        <div class="top-prof">
        </div>
        <div class="college">
        </div>
        <div class="high-school">
        </div>
        <div class="junior-high-school">
        </div>
    </div>
</header>
