<header class ="container-fluid">
    <div class="work">
    </div>
            <div class ="service-list" id="service">
        <div class="second-text">
            <h3>work</h3>
            <hr>
        </div>
            <div class="row">
                <div class="col-md-6 order-md-1">
                    <%= image_tag "shinkan.png" ,alt:"" ,class:"service-img rounded" %>
                </div>
                <div class="col-md-6 service-contents order-md-2">
                    <h3>新入生歓迎会まとめアプリ</h3>
                    <hr color=white>
                    <p>鹿児島大学で毎年行われる<br>"新入生歓迎会"のスケジュール管理をデジタル化すること<br>を目的としています。</p>
                    <p>使用技術:ruby on rails / bootstrap / heroku</P>
                    <a href="https://shinkan-app.herokuapp.com/" class="btn btn-outline-secondary" tabindex="-1" role="button" >新歓まとめサイトへ</a>
                </div>

                <div class="col-md-6 order-md-4">
                    <%= image_tag "memo.png" ,alt:"" ,class:"service-img rounded" %>
                </div>
                <div class="col-md-6 service-contents order-md-3">
                    <h3>Memo管理アプリ</h3>
                    <hr color=white>
                    <p>メモを新規作成・編集・削除できるCRUD処理を実装しました</p>
                    <p>使用技術:ruby on rails / bootstrap / heroku</P>

                    <a href="https://nobuo0827-memo.herokuapp.com/" class="btn btn-outline-secondary" tabindex="-1" role="button" >Memo appへ</a>
                </div>
                <div class="col-md-6 order-md-5">
                    <%= image_tag "youtube.png" ,alt:"service3" ,class:"service-img rounded" %>
                </div>
                <div class="col-md-6 service-contents order-md-6">
                    <h3><span><i class="fab fa-youtube"></i>  </span>  youtube</h3>
                    <hr color=white>
                    <p>鹿児島の学生の"ゼロイチ"を目標とした動画メディアです</p>
                    <p>人に影響を与えるには”信頼が”必要と考え、基盤づくりとしてしてエンタメのコンテンツとなっています</p>
                    <br>
                    <hr color=white>
                    <p>使用技術: Premier pro / After effects / Photoshop / Illustrator</p>
                    <a href="https://www.youtube.com/channel/UCvKqqRkT_14HudyVbCDRfgQ" class="btn btn-outline-secondary" tabindex="-1" role="button" >Youtubeサイトへ</a>

                </div>

                <div class="col-md-6 order-md-8">
                    <%= image_tag "todo.png" ,alt:"" ,class:"service-img rounded" %>
                </div>
                <div class="col-md-6 service-contents order-md-7">
                    <h3>To do app</h3>
                    <hr color=white>
                    <p>todoリストを管理するアプリケーション</p>
                    <p>使用技術:ruby on rails / bootstrap / heroku</P>
                    <a href="https://task-nobuo.herokuapp.com/" class="btn btn-outline-secondary" tabindex="-1" role="button" >todo appへ</a>
                </div>
            </div>
        </div>
</header>
