* {
  margin: 0;
  padding: 0;
  color: #888;
}

p {
  font-size: 20px;
}

h3 {
  font-size: 35px;
}

.top-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0 50px 0;
}

.nv-s:hover {
  text-decoration: none;
  color: #888;
}

.sns:hover {
  color: #888;
  filter: drop-shadow(5px 5px 5px #6e6e6e);
}

.top-wrapper h3 {
  padding-left: 40px;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-twitter:hover {
  opacity: 0.8;
  filter: drop-shadow(5px 5px 5px #6e6e6e);
}

.fa-github {
  color: #4078c0;
}

.fa-github:hover {
  opacity: 0.8;
}

.sns {
  color: #888;
}

nav h3 {
  font-family: myfont2;
  color: #888;
}

.nav-list {
  margin: 20px 0;
  text-align: center;
  line-height: 50px;
}

nav .fas {
  color: #888;
}

.nav-i {
  color: #888;
  font-size: 20px;
  text-decoration: none;
}

#nav a {
  color: #888;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

@font-face {
  font-family: "myfont";
  src: asset_url("fonts/logotypejp_corpmin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

  font-family: "myfont2";
  src: asset_url("fonts/nicokaku_v1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

  font-family: "myfont3";
  src: asset_url("fonts/AoyagiKouzanTOTF.otf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

.catch-frase {
  font-family: myfont;
  padding: 200px;
  height: 500px;

  text-align: center;
}

.catch-frase h2 {
  font-family: myfont;
  font-size: 50px;
}

.top-img {
  background-image: image-url("futsal.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;
  padding: 10px auto;
}

.top-img:hover {
  opacity: 0.8;
}

.top-text {
  text-align: left;
  padding: 350px 0 0px 20px;
}


.top-text p {
  font-family: myfont;
  font-size: 10px;
  color: white;
}

#feature {
  text-align: center;
}

#feature li {
  list-style: none;
}

#feature ul {
  text-align: left;
}

.prof-text {
  padding-top: 20px;
}

.icon-sns {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

.top-text h1 {
  font-size: 80px;
  font-family: myfont;
  color: white;
}

.prof-img {
  max-width: 400px;
}

.second-img {}

.second-text {
  text-align: center;
  padding: 60px 0 20px;
}

.second-text h3 {
  font-size: 50px;
  font-family: myfont;
  // margin-bottom: 40px;
}

.second-text p {
  font-family: myfont;
}

@media screen and (min-width: 970px) {
  .carousel-item {
    height: 500px;
    width: 100%;
  }


}

@media screen and (max-width: 760px) {
  .nav-i {
    border: 2px solid;
  }
}

.service-list {
  /* background-color: #333; */
  background-size: cover;
  background-color: white;
  background-blend-mode: lighten;

}

.service-list h2 {
  text-align: center;
  font-family: myfont2;
  font-size: 80px;
}

.service-img {
  width: 100%;
  padding: 30px auto;

}

.service-contents {
  padding: 30px auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 0.5px #bbb;
}

.service-img {
  filter: drop-shadow(5px 5px 5px #4e4e4e);
}

.service-contents {
  padding: 30px;
  text-align: center;
}

.service-contents h3 {
  font-size: 40px;
  text-align: center;
}

.btn-outline-secondary {
  display: inline-block;
  text-align: center;
}

.btn-outline-secondary {
  text-align: right;
  color: rgb(80, 80, 80);
  font-size: 20px;
}


.third-text {
  text-align: center;
  padding: 50px;
}

.third-text h2 {
  font-size: 80px;
  font-family: myfont2;
  margin-bottom: 40px;
}

.info {
  border: 2px solid white;
  margin: 40px;
  padding: 20px 20px;
}

.icon {
  font-size: 50px;
  padding-bottom: 15px;
}

.icon h3 {
  font-size: 35px;
}

footer {
  background-color: #fff;
  padding: 60px 0 30px 0;
  width: 100%;
}

.footer-title {
  opacity: 0.8;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: #aaa;
  font-size: 15px;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.copyright {
  margin: 20px;
}

.copyright p {
  text-align: center;
  opacity: 0.5;
}
