.profile {
  background-image: image-url("sakurajima.png");
  background-size: contain;
  background-position: center;
  height: 450px;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;

}


.profile:hover {
  opacity: 0.8;
}

//work page
.work {
  background-image: image-url("work.png");
  background-size: contain;
  background-position: center;
  height: 450px;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;
}

.work:hover {
  opacity: 0.8;
}



//prof page
.prof-detail h3 {
  box-shadow: 2px 2px 1px 0 #bbb;
}
