.profile {
  background-image: image-url("sakurajima.png");
  background-size: contain;
  background-position: center;
  height: 450px;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;

}


.profile:hover {
  opacity: 0.8;
}

//work page
.work {
  background-image: image-url("work.png");
  background-size: contain;
  background-position: center;
  height: 450px;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;
}

.work:hover {
  opacity: 0.8;
}



//prof page
.prof-detail h3 {
  box-shadow: 2px 2px 1px 0 #bbb;
}

.passion {
  font-size: 35px;
  text-align: center;
}

.passionlist {
  text-align: center;
  margin: 40px auto;
  padding: 20px auto;
  list-style: none;
  box-shadow: 2px 2px 1px 0 #bbb;
}

.passionlist li {
  list-style-type: none;
}

.prof-detail li {
  font-size: 30px;
}
