<footer >
  <p style="text-align:center; color:#888; font-size:30px"><a class="" href="#"style="color:#888;"><i class="fa fa-angle-double-up"></i><span class="sr-only">(current)</span></a>
  <p style="text-align:center"> &copy;2020 Corporate cite</p>
</footer>
