<div class ="top-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light  sticky-top">
    <a class="navbar-brand" href="#"><h3> Portfolios</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feature"><i class="fas fa-dharmachakra"></i> Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service"><i class="fas fa-list-alt"></i>  Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#imformation"><i class="fas fa-info-circle"></i> Imformation</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
