<div class ="wrapper2 " >
  <div class ="top-wrapper" >
    <div class="col-md-2"><a class=" nv-s" href="/" style="text-align:left;"><h1> Portfolios</h1></a></div>
    <div class="col-md-10 nav-i" style="text-align:right;   line-height: 50px;">
    <a href="/" class =" sns" style="text-align:center;"><i class="fas fa-home"></i> TOP <span class="sr-only"></span></a>
    <a href="https://twitter.com/nobuo_185cm" class =" sns" style="text-align:center; padding-left:40px;"><i class="fa fa-twitter "></i></span></a>
    <a href="https://github.com/nobuosan" class =" sns" style="text-align:center; padding-left:40px; padding-right:40px;"><i class="fab fa-github"></i><span class="sr-only"></span></a>
    </div>
  </div>
    <div id="nav" >
      <div class="row nav-list">
        <div class="nav-i col-6"> <a href="/profile" ><i class="fas fa-info-circle"></i> ABOUT ME <span class="sr-only"></span></a></div>
        <div class="nav-i col-6"> <a href="/work"><i class="fas fa-dharmachakra"></i> WORK</a></div>
        <%# <div class="nav-i col-6 col-sm-6 col-md-3"> <a href="#service"><i class="fas fa-list-alt"></i>  Service</a></div>
        <div class="nav-i col-6 col-sm-6 col-md-3"> <a href="#imformation"><i class="fas fa-info-circle"></i> Imformation</a></div> %>
      </div>
    </div>
</div>
