
<div class ="wrapper2">
  <div class ="top-wrapper">
    <a class="col-md-2 nv-s" href="#" style="text-align:left;"><h3> Portfolios</h3></a>
    <a href="#" class ="col-md-10 sns" style="text-align:right;"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
  </div>
    <div id="nav" >
      <div class="row nav-list">
        <div class="nav-i col-6 col-sm-6 col-md-3"> <a href="#" ><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a></div>
        <div class="nav-i col-6 col-sm-6 col-md-3"> <a href="#feature"><i class="fas fa-dharmachakra"></i> Features</a></div>
        <div class="nav-i col-6 col-sm-6 col-md-3"> <a href="#service"><i class="fas fa-list-alt"></i>  Service</a></div>
        <div class="nav-i col-6 col-sm-6 col-md-3"> <a href="#imformation"><i class="fas fa-info-circle"></i> Imformation</a></div>
      </div>
    </div>
</div>
